.vs/


WPF/.vs/
WPF/obj/

UniverssellePeintureApi/.vs/
UniverssellePeintureApi/obj/
/WPF/bin/Debug
/WPF/packages
/UniverssellePeintureApi/bin/Debug/net6.0
/UniverssellePeintureApi/Migrations
/UniverssellePeintureApi/Model/Specialites.cs
